/*General*/
html{
    min-height: 100%;
    box-sizing: border-box;
}
body{
    background-color: #63ff8294;
    color: black;
    margin: 0 100px;
}
a{
    text-decoration: none;
}
.nav{
    background-color: #fff;
    padding-bottom: 80px;
    /* border-radius: 35px; */
}
.nav h1{
    float: left;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.7px;
    margin-top: 15px;
    margin-left: 30px;
    color: #42210B;
    border-bottom: 2px solid #000;

}
.nav h1 span{
    color: #4caf50;
}

.nav ul{

    background-color: #fff;
    margin: 10px 0;
    padding: 10px 0;
    float: right;
    /* display: flex; */
    /* list-style-type: none; */
   overflow: hidden;
    margin-right: 100px;
}
.nav ul li{
    overflow: hidden;
    margin: 0 10px;
    display: inline;
    list-style: none

}
.nav ul li a{
    font-weight:bold;
    color: #4caf50;
    font-size: 25px;
}
/*text-header*/

.text-header{
    text-align: center;
    background-color: #999;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 20px;

}
.text-header h1{
    font-size: 50px;
}
/* section */

.section {
    background: #fff;
     margin-top: -20px;
    padding: 20px 0; 
}
.section .section-un .section-image {
margin: 0 0;
display: inline-block;
margin-left: 75px;
}
.section .section-un .section-image .images{
    margin: 10px 0;
    width: 300px;
    height: auto;

}

.section .section-deux{
    background-color: #4caf50;
    padding: 20px 0;
    color: #fff;
}
.section .section-deux .conact .info {
    color: #000;
    margin-left: 50px;
    line-height: 1.7;
    font-size: 18px;
}
 .footer{
    background: #fff;
    padding: 1px 0;
    text-align: center;
}
/*mon framwork*/

.title, .desc{
    text-align: center;
    
}
