/* h1{
    font-size: 100px;
    font-style: italic;
    font-weight: lighter;
}
p{
    font-size: 150%;
    font-style: oblique;
    font-weight: 700;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
    